services:
  - type: web
    name: bookmycourt-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        fromService:
          type: web
          name: bookmycourt-backend
          property: port
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: GMAIL_USER
        sync: false
      - key: GMAIL_PASS
        sync: false
      - key: FROM_EMAIL
        sync: false
      - key: CLIENT_URL
        sync: false

